@media (max-width: 768px){
    header{
        padding: 2rem;
    };

    .copyright-text{
        left: 2rem;
        bottom: 3rem ;
    };

    .sci{
        right: 2rem;
        bottom: 2rem;
    };
};